<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">
        <title>Property Support System</title>
    </head>
    <body class="center">
        <div><h1>Property Support System</h1></div>
        <div class="box">
            <div>
                <h2>Masukkan wilayah: </h2>
                <div class="container">
                    <form class="request" method="post" enctype="multipart/form-data">
                        <div class="form-group col-md-3">
                            State
                            <br>
                            <input type="text" name="state" value="">          
                        </div>
                        <div class="form-group col-md-3">
                            CBSA
                            <br>                          
                            <input type="text" name="cbsa" value="">         
                        </div>
                        <div class="form-group col-md-3">
                            County
                            <br>
                            <input type="text" name="county" value="">          
                        </div>
                        <div class="form-group col-md-3">
                            City
                            <br>
                            <input type="text" name="city" value="">         
                        </div>
                        <div class="form-group col-md-3">
                            Year
                            <br>
                            <select name="year">                           
                                <input type="text" name="year" value="">
                            </select>           
                        </div>
                        <br>
                        <br>                                                    
                        <button type="submit" style="padd" class="button button2">Submit</button>              
                    </form> 
                </div>
            </div>
            <div>
                <h2 style="margin-top: 10px">Indeks properti:</h2>
                <!-- {% if result is not none %} -->
                    <div><label style="font-size: 16px; margin-left: 10px">{{result}}</label></div>
                <!-- {% endif %} -->
            </div>
        </div>
        </div>

        <script>
            
        </script>
    </body>
</html>